<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:redis.properties" />

    <!--Jedis连接池的相关配置-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--连接池中最多的连接个数100-->
        <property name="maxTotal">
            <value>${redis.pool.maxActive}</value>
        </property>
        <!--连接池中存在最多的空闲连接个数 50-->
        <property name="maxIdle">
            <value>${redis.pool.maxIdle}</value>
        </property>
        <!--OnBorrow 从连接池获取连接时，测试是否可用-->
        <property name="testOnBorrow" value="true"/>
        <!--OnReturn 归还给连接池时，测试这个连接是否可用-->
        <property name="testOnReturn" value="true"/>
    </bean>

    <!-- 连接池 -->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <!--连接池配置信息-->
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
        <!--redis的ip-->
        <constructor-arg name="host" value="${redis.host}" />
        <!--redis的端口-->
        <constructor-arg name="port" value="${redis.port}" type="int" />
        <!--超时时间-->
        <constructor-arg name="timeout" value="${redis.timeout}" type="int" />
    </bean>
</beans>